<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/assets/main.css" rel="stylesheet" />
    <!-- Allow any inheriting page to set it's own title -->
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- Allow any inheriting page to extend head with additional assets -->
    {% block head %}{% endblock %}
  </head>
  <body hx-boost="true">
    <div id="navbar" class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/chat">Chat</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>

    <div id="content">
      <!-- Inheriting pages will have their content rendered here, similar to app root in React, Angular, etc. -->
      {% block content %}{% endblock %}
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.7"></script>
  </body>
</html>
